homeassistant_credentials:
  enabled: False
  mqtt_username: "<username>"
  mqtt_password: "<password>"
  mqtt_hostname: "<hostname>"
  mqtt_port: 1883

tutk_credentials:
  av_username: "defusr"
  av_password: "defpwd"
